{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block js%}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
{% endblock %}



{% block content %}


<div class="container">
  <div class="row">
      <div class="col-12 col-md-6 offset-md-3">
          <div class="card">
              <div class="card-body bg-white">
                  <h2 class="text-dark text text-center">Ingresa tus Credenciales</h2>
                  <hr class="text-dark">
                  <form action="" method="post" id="formRegistro">
                      {% csrf_token %}
                      {{form | crispy}}
                      <br>
                      <a href="{% url 'inicio' %}">Ir al inicio</a> 
                      <input type="submit" value="Registrar" class="btn btn-success float-end" id="btn_registrar" >
                  </form>
              </div>
          </div>
      </div>
  </div>
</div>

<script src=""></script>

{% endblock %}