{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
<!-- css -->
{% block css %}

  <link rel="stylesheet" href="{% static 'css/pokedex.css' %}">

{% endblock %}
<!-- js -->

{% block js %}

{% endblock %}


<!-- contenido de la pagina -->
{% block content %}

<br><br><br>
<div class="container">
  <div class="row">
      <div class="col-12 col-md-6 offset-md-3">
          <div class="card">
              <div class="card-body bg-white">
                  <h2 class="text-dark text text-center">Rellena los campos</h2>
                  <hr class="text-dark">
                  <form action="" method="post" enctype="multipart/form-data">
                      {% csrf_token %}
                      {{form | crispy}}
                      <br>
                      <input type="submit" value="Postear" class="btn btn-success float-end">
                  </form>
              </div>
          </div>
      </div>
  </div>
{% endblock %}


